@import "../../assets/index.scss";
@import "../../assets/typography.scss";

.shop {
    background-color: $color-primary;
    width: 100vw;
    padding: $page-padding;

    &__shopbox {
        padding-top: 13.1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__shophead {
        padding: 8rem 0 6rem 0;
    }

    &__products {
        display: flex;
        flex-wrap: wrap;
    }
}
