.comingsoon {
  background-color: #1d222c;
  width: 100vw;
  height: 50vh;
  padding-top: 13.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  overflow-x: hidden;
}

.btn-primary, .btn-primary:link, .btn-primary:visited {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  color: #1d222c;
  background-color: #f2c56d;
  padding: 1.2rem 2.5rem;
  font-size: 2.1rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border: 1px solid #1d222c;
}

.btn-primary:hover {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
}

.btn-primary:active, .btn-primary:focus {
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
}

.btn-primary--v2, .btn-primary--v2:link, .btn-primary--v2:visited {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  color: #1d222c;
  background-color: #f2c56d;
  padding: 1.2rem 2.5rem;
  font-size: 2.1rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border: 1px solid #1d222c;
  border-radius: 50px;
}

.btn-primary--v2:hover {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
}

.btn-primary--v2:active, .btn-primary--v2:focus {
  border: 1px solid #f2c56d;
  color: #f2c56d;
  background-color: #1d222c;
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
  outline: none;
}

.btn-primary--v2:active .btn-symbol-arr,
.btn-primary--v2:focus .btn-symbol-arr {
  -webkit-filter: invert(92%) sepia(62%) saturate(4858%) hue-rotate(310deg) brightness(106%) contrast(90%);
          filter: invert(92%) sepia(62%) saturate(4858%) hue-rotate(310deg) brightness(106%) contrast(90%);
}

.btn-secondary:link, .btn-secondary:visited {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  color: #f2c56d;
  background-color: #1d222c;
  border: 1px solid #f2c56d;
  padding: 1.2rem 2.5rem;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn-secondary:hover {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
  background-color: #f2c56d;
  color: #1d222c;
  border: 1px solid #f2c56d;
}

.btn-secondary:hover .btn-symbol-play {
  -webkit-filter: invert(10%) sepia(3%) saturate(5576%) hue-rotate(182deg) brightness(91%) contrast(91%);
          filter: invert(10%) sepia(3%) saturate(5576%) hue-rotate(182deg) brightness(91%) contrast(91%);
}

.btn-secondary:active, .btn-secondary:focus {
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
}

.btn-tertiary:link, .btn-tertiary:visited {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  color: #f2c56d;
  background-color: #232832;
  padding: 1.2rem 2.5rem;
  font-size: 2rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: 1px solid #232832;
}

.btn-tertiary:hover {
  border: 1px solid #f2c56d;
}

.btn-tertiary:active, .btn-tertiary:focus {
  background-color: #f2c56d;
  color: #1d222c;
}

.btn-tertiary:active .btn-symbol-arrgold {
  -webkit-filter: invert(10%) sepia(3%) saturate(5576%) hue-rotate(182deg) brightness(91%) contrast(91%);
          filter: invert(10%) sepia(3%) saturate(5576%) hue-rotate(182deg) brightness(91%) contrast(91%);
}

.btn-tertiary:focus .btn-symbol-arrgold {
  -webkit-filter: invert(10%) sepia(3%) saturate(5576%) hue-rotate(182deg) brightness(91%) contrast(91%);
          filter: invert(10%) sepia(3%) saturate(5576%) hue-rotate(182deg) brightness(91%) contrast(91%);
}

.btn-symbol {
  -webkit-transform: translate(5px, 2px);
          transform: translate(5px, 2px);
  padding: 0.1rem;
}

.btn-symbol-arr {
  -webkit-filter: invert(10%) sepia(3%) saturate(5576%) hue-rotate(182deg) brightness(91%) contrast(91%);
          filter: invert(10%) sepia(3%) saturate(5576%) hue-rotate(182deg) brightness(91%) contrast(91%);
}

.btn-symbol-arrgold {
  -webkit-filter: invert(92%) sepia(62%) saturate(4858%) hue-rotate(310deg) brightness(106%) contrast(90%);
          filter: invert(92%) sepia(62%) saturate(4858%) hue-rotate(310deg) brightness(106%) contrast(90%);
}

.btn-symbol-play {
  margin-right: 2rem;
  -webkit-filter: invert(92%) sepia(62%) saturate(4858%) hue-rotate(310deg) brightness(106%) contrast(90%);
          filter: invert(92%) sepia(62%) saturate(4858%) hue-rotate(310deg) brightness(106%) contrast(90%);
}

.bean {
  position: absolute;
}

.goldline {
  border-left: 1px solid #f2c56d;
  height: 6rem;
  margin-bottom: 2rem;
}

.non-btn {
  border: none;
  background-color: transparent;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.non-btn:hover, .non-btn:focus {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  border: none;
  outline: none;
}

.non-btn:active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.comingsoon {
  background-color: #1d222c;
  width: 100vw;
  height: 50vh;
  padding-top: 13.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  overflow-x: hidden;
}

.btn-primary, .btn-primary:link, .btn-primary:visited {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  color: #1d222c;
  background-color: #f2c56d;
  padding: 1.2rem 2.5rem;
  font-size: 2.1rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border: 1px solid #1d222c;
}

.btn-primary:hover {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
}

.btn-primary:active, .btn-primary:focus {
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
}

.btn-primary--v2, .btn-primary--v2:link, .btn-primary--v2:visited {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  color: #1d222c;
  background-color: #f2c56d;
  padding: 1.2rem 2.5rem;
  font-size: 2.1rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border: 1px solid #1d222c;
  border-radius: 50px;
}

.btn-primary--v2:hover {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
}

.btn-primary--v2:active, .btn-primary--v2:focus {
  border: 1px solid #f2c56d;
  color: #f2c56d;
  background-color: #1d222c;
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
  outline: none;
}

.btn-primary--v2:active .btn-symbol-arr,
.btn-primary--v2:focus .btn-symbol-arr {
  -webkit-filter: invert(92%) sepia(62%) saturate(4858%) hue-rotate(310deg) brightness(106%) contrast(90%);
          filter: invert(92%) sepia(62%) saturate(4858%) hue-rotate(310deg) brightness(106%) contrast(90%);
}

.btn-secondary:link, .btn-secondary:visited {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  color: #f2c56d;
  background-color: #1d222c;
  border: 1px solid #f2c56d;
  padding: 1.2rem 2.5rem;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn-secondary:hover {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
  background-color: #f2c56d;
  color: #1d222c;
  border: 1px solid #f2c56d;
}

.btn-secondary:hover .btn-symbol-play {
  -webkit-filter: invert(10%) sepia(3%) saturate(5576%) hue-rotate(182deg) brightness(91%) contrast(91%);
          filter: invert(10%) sepia(3%) saturate(5576%) hue-rotate(182deg) brightness(91%) contrast(91%);
}

.btn-secondary:active, .btn-secondary:focus {
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
}

.btn-tertiary:link, .btn-tertiary:visited {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  color: #f2c56d;
  background-color: #232832;
  padding: 1.2rem 2.5rem;
  font-size: 2rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: 1px solid #232832;
}

.btn-tertiary:hover {
  border: 1px solid #f2c56d;
}

.btn-tertiary:active, .btn-tertiary:focus {
  background-color: #f2c56d;
  color: #1d222c;
}

.btn-tertiary:active .btn-symbol-arrgold {
  -webkit-filter: invert(10%) sepia(3%) saturate(5576%) hue-rotate(182deg) brightness(91%) contrast(91%);
          filter: invert(10%) sepia(3%) saturate(5576%) hue-rotate(182deg) brightness(91%) contrast(91%);
}

.btn-tertiary:focus .btn-symbol-arrgold {
  -webkit-filter: invert(10%) sepia(3%) saturate(5576%) hue-rotate(182deg) brightness(91%) contrast(91%);
          filter: invert(10%) sepia(3%) saturate(5576%) hue-rotate(182deg) brightness(91%) contrast(91%);
}

.btn-symbol {
  -webkit-transform: translate(5px, 2px);
          transform: translate(5px, 2px);
  padding: 0.1rem;
}

.btn-symbol-arr {
  -webkit-filter: invert(10%) sepia(3%) saturate(5576%) hue-rotate(182deg) brightness(91%) contrast(91%);
          filter: invert(10%) sepia(3%) saturate(5576%) hue-rotate(182deg) brightness(91%) contrast(91%);
}

.btn-symbol-arrgold {
  -webkit-filter: invert(92%) sepia(62%) saturate(4858%) hue-rotate(310deg) brightness(106%) contrast(90%);
          filter: invert(92%) sepia(62%) saturate(4858%) hue-rotate(310deg) brightness(106%) contrast(90%);
}

.btn-symbol-play {
  margin-right: 2rem;
  -webkit-filter: invert(92%) sepia(62%) saturate(4858%) hue-rotate(310deg) brightness(106%) contrast(90%);
          filter: invert(92%) sepia(62%) saturate(4858%) hue-rotate(310deg) brightness(106%) contrast(90%);
}

.bean {
  position: absolute;
}

.goldline {
  border-left: 1px solid #f2c56d;
  height: 6rem;
  margin-bottom: 2rem;
}

.non-btn {
  border: none;
  background-color: transparent;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.non-btn:hover, .non-btn:focus {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  border: none;
  outline: none;
}

.non-btn:active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.heading-1 {
  font-family: "PT Serif", serif;
  font-weight: 300;
  font-size: 7rem;
  color: #fff;
  margin-bottom: 2rem;
}

.heading-sub {
  font-size: 1.8rem;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  margin-bottom: 4rem;
}

.heading-2 {
  font-family: "PT Serif", serif;
  font-weight: 300;
  font-size: 5.6rem;
  color: #fff;
  margin-bottom: 2rem;
}

.heading-3 {
  font-family: "PT Serif", serif;
  font-weight: 300;
  font-size: 3.5rem;
  color: #fff;
}

.heading-4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  color: #f2c56d;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.paragraph {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  color: #fff;
}

.paragraph--v2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.6);
}

.header {
  background-color: #1d222c;
  height: calc(50vw + 13.1rem);
  width: 100vw;
  padding-top: 13.1rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__text-box {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 50%;
  padding-left: 6vw;
  margin-right: -1rem;
  margin-bottom: 5rem;
  z-index: 2;
  position: relative;
}

.header__paragraph {
  width: 80%;
}

.header__btn-group {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content max-content;
      grid-template-columns: -webkit-max-content -webkit-max-content;
      grid-template-columns: max-content max-content;
  grid-column-gap: 3rem;
}

.header__hero-box {
  width: 50%;
}

.header__heroimg {
  width: 100%;
  z-index: 0;
  position: relative;
  -webkit-transform: translateY(3rem);
          transform: translateY(3rem);
}

.bean__1 {
  width: 20%;
  max-width: 30rem;
  right: -12rem;
  top: 10rem;
}

.bean__2 {
  max-width: 25rem;
  width: 20%;
  top: 15rem;
  left: -12rem;
}

.bean__3 {
  width: 20%;
  top: -4%;
  left: 21rem;
  z-index: -1;
}

.beanleaf__1 {
  max-width: 30rem;
  width: 15%;
  bottom: -7rem;
}
/*# sourceMappingURL=Header.css.map */