@import "../../../assets/index.scss";
@import "../../../assets/typography.scss";

.ourlocations {
    background-color: $color-primary;
    padding: $page-padding;
    width: 100vw;

    &__box {
        padding-top: 10rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__textbox {
        flex: 0 1 45%;
    }

    &__textbox p {
        margin-bottom: 5rem;
        padding-right: 10rem;
    }

    &__imgbox {
        flex: 0 1 55%;
        position: relative;
    }

    &__img {
        width: 100%;
    }
}

.bean__9 {
    max-width: 25rem;
    width: 28%;
    top: -10rem;
    right: -7rem;
}
