*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.btn-primary, .btn-primary:link, .btn-primary:visited {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  color: #1d222c;
  background-color: #f2c56d;
  padding: 1.2rem 2.5rem;
  font-size: 2.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn-primary:hover {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
}

.btn-primary:active, .btn-primary:focus {
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
}

.btn-secondary:link, .btn-secondary:visited {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  color: #f2c56d;
  background-color: #1d222c;
  border: 1px solid #f2c56d;
  padding: 1.2rem 2.5rem;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn-secondary:hover {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
  background-color: #f2c56d;
  color: #1d222c;
  border: 1px solid #f2c56d;
}

.btn-secondary:hover .btn-symbol-play {
  -webkit-filter: invert(10%) sepia(3%) saturate(5576%) hue-rotate(182deg) brightness(91%) contrast(91%);
          filter: invert(10%) sepia(3%) saturate(5576%) hue-rotate(182deg) brightness(91%) contrast(91%);
}

.btn-secondary:active, .btn-secondary:focus {
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
}

.btn-symbol {
  -webkit-transform: translate(5px, 2px);
          transform: translate(5px, 2px);
  padding: 0.1rem;
}

.btn-symbol-arr {
  -webkit-filter: invert(10%) sepia(3%) saturate(5576%) hue-rotate(182deg) brightness(91%) contrast(91%);
          filter: invert(10%) sepia(3%) saturate(5576%) hue-rotate(182deg) brightness(91%) contrast(91%);
}

.btn-symbol-play {
  margin-right: 2rem;
  -webkit-filter: invert(92%) sepia(62%) saturate(4858%) hue-rotate(310deg) brightness(106%) contrast(90%);
          filter: invert(92%) sepia(62%) saturate(4858%) hue-rotate(310deg) brightness(106%) contrast(90%);
}

.bestintown {
  padding: 0 5vw;
  background-color: #252a35;
  position: relative;
  width: 100vw;
  z-index: 1;
  padding-top: 3rem;
}

.bestintown__box {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 12rem;
}

.bestintown__textbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding-top: 10rem;
  padding-bottom: 6rem;
}

.bestintown__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 4.5rem;
  text-align: center;
}

.bestintown__card {
  background-color: #2a2e38;
  padding: 4rem;
  height: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bestintown__card:hover {
  background-color: #f2c56d;
}

.bestintown__card:hover .bestintown__circle {
  background-color: #fff;
}

.bestintown__card:hover .bestintown__img {
  -webkit-filter: invert(10%) sepia(4%) saturate(4561%) hue-rotate(184deg) brightness(92%) contrast(83%);
          filter: invert(10%) sepia(4%) saturate(4561%) hue-rotate(184deg) brightness(92%) contrast(83%);
}

.bestintown__card:hover h3 {
  color: #1d222c;
}

.bestintown__circle {
  background-color: #1d222c;
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bestintown__img {
  -webkit-filter: invert(92%) sepia(62%) saturate(4858%) hue-rotate(310deg) brightness(106%) contrast(90%);
          filter: invert(92%) sepia(62%) saturate(4858%) hue-rotate(310deg) brightness(106%) contrast(90%);
}

.bestintown__tea {
  margin-left: 1rem;
}

.bestintown__cap {
  margin-left: 1rem;
}
/*# sourceMappingURL=BestInTown.css.map */