@import "../../assets/index.scss";
@import "../../assets/typography.scss";

.productcard {
    margin-top: 15rem;
    margin-bottom: 5rem;
    position: relative;
    flex: 0 1 30%;

    &:not(:last-child) {
        margin-right: 4rem;
    }

    &__img {
        width: 77%;
        position: absolute;
        top: -20%;
        left: 50%;
        transform: translateX(-48%);
    }

    &__infocontainer {
        display: flex;
        flex-direction: column;
        justify-content: end;
        height: 65rem;
        //width: 45rem;
        padding: 3rem 4.5rem;
        border-radius: 50% 50% 0 0 / 35% 35% 0 0;
        background-color: $color-primary-productbg;
    }

    &__textbox h3 {
        margin-bottom: 2rem;
    }

    &__textbox p {
        margin-bottom: 6rem;
    }

    &__finalbox {
        display: flex;
        justify-content: space-between;
    }
}
