@import "../../assets/index.scss";
@import "../../assets/typography.scss";

.productcard {
    margin-top: 15rem;
    margin-bottom: 5rem;
    position: relative;
    flex: 1 0 30%;

    &:not(:last-child) {
        margin-right: 4rem;
    }

    &__img {
        width: 77%;
        position: absolute;
        top: -20%;
        left: 50%;
        transform: translateX(-48%);
    }

    &__infocontainer {
        display: flex;
        flex-direction: column;
        justify-content: end;
        height: 65rem;
        //width: 45rem;
        padding: 3rem 4.5rem;
        border-top-left-radius: 100rem;
        border-top-right-radius: 100rem;
        background-color: $color-primary-productbg;
    }

    &__textbox h3 {
        margin-bottom: 2rem;
    }

    &__textbox p {
        margin-bottom: 6rem;
    }

    &__finalbox {
        display: flex;
        justify-content: space-between;
    }

    &__img3 {
        filter: hue-rotate(300deg);
    }

    &__img4 {
        filter: hue-rotate(180deg);
    }

    &__img5 {
        filter: hue-rotate(430deg);
    }

    &__img6 {
        filter: hue-rotate(330deg);
    }

    &__img7 {
        filter: hue-rotate(130deg);
    }

    &__img8 {
        filter: hue-rotate(90deg);
    }
}
