@import "../../../assets/index.scss";
@import "../../../assets/typography.scss";

.recentproducts {
    background-color: $color-primary;
    padding-top: 28rem;
    width: 100vw;
    position: relative;
    z-index: -1;

    &__box {
        padding: $page-padding;
    }

    &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__productsbox {
        padding-top: 10rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.bean__5 {
    max-width: 20rem;
    width: 12%;
    right: -5rem;
    top: 40rem;
}

.bean__6 {
    max-width: 20rem;
    width: 13%;
    top: 4rem;
}
