@import "../../assets/index.scss";
@import "../../assets/typography.scss";

.secret {
    background-color: $color-secondary;
    padding: $page-padding;
    width: 100vw;

    &__box {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        padding-top: 8rem;
        padding-bottom: 6rem;
    }

    &__text {
        color: $color-primary !important;
    }

    &__margin {
        margin-bottom: 2rem;
    }

    &__head {
        text-align: center;
    }

    &__center {
        display: flex;
        justify-items: center;
        align-items: center;
    }

    &__img {
        width: 150%;
        margin: 5rem 7rem;
    }

    &__environmentbox {
        text-align: center;
        max-width: 40%;
    }
}
