.comingsoon {
  background-color: #1d222c;
  width: 100vw;
  height: 50vh;
  padding-top: 13.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  overflow-x: hidden;
}

.btn-primary, .btn-primary:link, .btn-primary:visited {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  color: #1d222c;
  background-color: #f2c56d;
  padding: 1.2rem 2.5rem;
  font-size: 2.1rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border: 1px solid #1d222c;
}

.btn-primary:hover {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
}

.btn-primary:active, .btn-primary:focus {
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
}

.btn-primary--v2, .btn-primary--v2:link, .btn-primary--v2:visited {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  color: #1d222c;
  background-color: #f2c56d;
  padding: 1.2rem 2.5rem;
  font-size: 2.1rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border: 1px solid #1d222c;
  border-radius: 50px;
}

.btn-primary--v2:hover {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
}

.btn-primary--v2:active, .btn-primary--v2:focus {
  border: 1px solid #f2c56d;
  color: #f2c56d;
  background-color: #1d222c;
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
  outline: none;
}

.btn-primary--v2:active .btn-symbol-arr,
.btn-primary--v2:focus .btn-symbol-arr {
  -webkit-filter: invert(92%) sepia(62%) saturate(4858%) hue-rotate(310deg) brightness(106%) contrast(90%);
          filter: invert(92%) sepia(62%) saturate(4858%) hue-rotate(310deg) brightness(106%) contrast(90%);
}

.btn-secondary:link, .btn-secondary:visited {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  color: #f2c56d;
  background-color: #1d222c;
  border: 1px solid #f2c56d;
  padding: 1.2rem 2.5rem;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn-secondary:hover {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
  background-color: #f2c56d;
  color: #1d222c;
  border: 1px solid #f2c56d;
}

.btn-secondary:hover .btn-symbol-play {
  -webkit-filter: invert(10%) sepia(3%) saturate(5576%) hue-rotate(182deg) brightness(91%) contrast(91%);
          filter: invert(10%) sepia(3%) saturate(5576%) hue-rotate(182deg) brightness(91%) contrast(91%);
}

.btn-secondary:active, .btn-secondary:focus {
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
}

.btn-tertiary:link, .btn-tertiary:visited {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  color: #f2c56d;
  background-color: #232832;
  padding: 1.2rem 2.5rem;
  font-size: 2rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: 1px solid #232832;
}

.btn-tertiary:hover {
  border: 1px solid #f2c56d;
}

.btn-tertiary:active, .btn-tertiary:focus {
  background-color: #f2c56d;
  color: #1d222c;
}

.btn-tertiary:active .btn-symbol-arrgold {
  -webkit-filter: invert(10%) sepia(3%) saturate(5576%) hue-rotate(182deg) brightness(91%) contrast(91%);
          filter: invert(10%) sepia(3%) saturate(5576%) hue-rotate(182deg) brightness(91%) contrast(91%);
}

.btn-tertiary:focus .btn-symbol-arrgold {
  -webkit-filter: invert(10%) sepia(3%) saturate(5576%) hue-rotate(182deg) brightness(91%) contrast(91%);
          filter: invert(10%) sepia(3%) saturate(5576%) hue-rotate(182deg) brightness(91%) contrast(91%);
}

.btn-symbol {
  -webkit-transform: translate(5px, 2px);
          transform: translate(5px, 2px);
  padding: 0.1rem;
}

.btn-symbol-arr {
  -webkit-filter: invert(10%) sepia(3%) saturate(5576%) hue-rotate(182deg) brightness(91%) contrast(91%);
          filter: invert(10%) sepia(3%) saturate(5576%) hue-rotate(182deg) brightness(91%) contrast(91%);
}

.btn-symbol-arrgold {
  -webkit-filter: invert(92%) sepia(62%) saturate(4858%) hue-rotate(310deg) brightness(106%) contrast(90%);
          filter: invert(92%) sepia(62%) saturate(4858%) hue-rotate(310deg) brightness(106%) contrast(90%);
}

.btn-symbol-play {
  margin-right: 2rem;
  -webkit-filter: invert(92%) sepia(62%) saturate(4858%) hue-rotate(310deg) brightness(106%) contrast(90%);
          filter: invert(92%) sepia(62%) saturate(4858%) hue-rotate(310deg) brightness(106%) contrast(90%);
}

.bean {
  position: absolute;
}

.goldline {
  border-left: 1px solid #f2c56d;
  height: 6rem;
  margin-bottom: 2rem;
}

.non-btn {
  border: none;
  background-color: transparent;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.non-btn:hover, .non-btn:focus {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  border: none;
  outline: none;
}

.non-btn:active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.navbar {
  position: fixed;
  width: 100vw;
  height: 13.1rem;
  background-color: #1d222c;
  border-bottom: 1px solid #343841;
  z-index: 100;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr 1fr;
      grid-template-columns: 1fr 3fr 1fr;
  grid-column-gap: 1px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__nav-box {
  width: 100%;
  height: 100%;
  border-right: 1px solid #343841;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__nav {
  cursor: pointer;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.navbar__checkbox {
  display: none;
}

.navbar__button {
  cursor: pointer;
  padding-top: 2.2rem;
  height: 5rem;
  display: block;
  background-color: #1d222c;
}

.navbar__icon {
  position: relative;
}

.navbar__icon, .navbar__icon::before, .navbar__icon::after {
  width: 4rem;
  height: 2px;
  background-color: #fff;
  border-radius: 3%/50%;
  display: inline-block;
}

.navbar__icon::before, .navbar__icon::after {
  content: "";
  position: absolute;
  left: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.navbar__icon::before {
  top: -1.3rem;
}

.navbar__icon::after {
  top: 1.3rem;
}

.navbar__button:hover .navbar__icon::before {
  top: -1.5rem;
}

.navbar__button:hover .navbar__icon::after {
  top: 1.5rem;
}

.navbar__checkbox:checked + .navbar__button .navbar__icon {
  background-color: transparent;
}

.navbar__checkbox:checked + .navbar__button .navbar__icon::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
}

.navbar__checkbox:checked + .navbar__button .navbar__icon::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
}

.navbar__logo-box {
  width: 100%;
  height: 100%;
  border-right: 1px solid #343841;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__tools {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 4rem;
}

.navbar__search {
  background-color: #1d222c;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.navbar__search:hover {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

.navbar__cart-box {
  position: relative;
  background-color: #1d222c;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.navbar__cart-box:hover {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

.navbar__cart-badge {
  position: absolute;
  top: 1px;
  left: 15px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: block;
  background-color: red;
}

.navigation {
  position: fixed;
  top: -250rem;
  opacity: 0;
  z-index: 10;
  width: 101vw;
  height: calc(100vh - 13.1rem);
  background-color: #1d222c;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  grid-row-gap: 5%;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.navigation__navopen {
  top: 13.1rem;
  opacity: 1;
}

.navigation__list {
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
  grid-row-gap: 3.6rem;
  justify-items: center;
}

.navigation__item .active {
  border: 1px solid white;
  padding: 1rem 2rem;
}

.navigation__link:link, .navigation__link:visited {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-family: "PT Serif", serif;
  font-size: 3rem;
}

.navigation__list-social {
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(min-content, 1fr))[3];
      grid-template-columns: repeat(3, minmax(-webkit-min-content, 1fr));
      grid-template-columns: repeat(3, minmax(min-content, 1fr));
  grid-column-gap: 1.5vw;
  justify-items: center;
  -ms-grid-row-align: start;
      align-self: start;
}

.navigation__link-social:link, .navigation__link-social:visited {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 2rem;
}
/*# sourceMappingURL=Navbar.css.map */