@import "./index.scss";

.heading-1 {
    font-family: $font-primary;
    font-weight: 300;
    font-size: 7rem;
    color: #fff;
    margin-bottom: 2rem;
}

.heading-sub {
    font-size: 1.8rem;
    font-family: $font-secondary;
    color: #fff;
    margin-bottom: 4rem;
}

.heading-2 {
    font-family: $font-primary;
    font-weight: 300;
    font-size: 5.6rem;
    color: #fff;
    margin-bottom: 2rem;
}

.heading-3 {
    font-family: $font-primary;
    font-weight: 300;
    font-size: 3.5rem;
    color: #fff;
}

.heading-4 {
    font-family: $font-secondary;
    font-weight: 300;
    font-size: 2rem;
    color: #fff;
    text-transform: uppercase;
}

.paragraph {
    font-family: $font-secondary;
    font-weight: 300;
    font-size: 1.6rem;
    color: #fff;
}

.paragraph--v2 {
    font-family: $font-secondary;
    font-weight: 300;
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.6);
}
