@import "../../../assets/index.scss";
@import "../../../assets/typography.scss";

.storyhead {
    background-color: $color-primary;
    height: calc(50vw + 13.1rem);
    width: 100vw;
    padding-top: 13.1rem;
    position: relative;

    &__beans {
        position: absolute;
        max-width: 20rem;
        width: 12%;
        bottom: -4rem;
        left: 0;
        z-index: 5;
    }

    &__content {
        display: flex;
        height: 100%;
    }

    &__textbox {
        justify-self: center;
        align-self: center;
        width: 50%;
        padding-left: 6vw;
        padding-right: 6vw;
        position: relative;
    }

    &__bean4-2 {
        position: absolute;
        max-width: 9rem;
        width: 13%;
        top: -4rem;
        left: 3rem;
    }

    &__imgbox {
        width: 65%;
        display: flex;
        align-items: end;
        position: relative;
    }

    &__bean4 {
        position: absolute;
        max-width: 20rem;
        width: 22%;
        top: 9rem;
        left: -9rem;
    }

    &__img {
        width: 100%;
    }
}
